.topHeader {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 120px;
  background-color: #4056A1;
  text-align: center;
  color:  #FFFFFF;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}
/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/* h2 {
  text-align: center;
  color: #FFFFFF;
  margin: 0;
} */