nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  width: 100%;
  z-index: 999;
  padding: 1.5em;
}

@media (max-width: 768px) {
  nav {
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  }
  img {
    z-index: 1000
  }
}

@media (max-width: 400px) {
  .slider {
    display: none;
  }
}

.logo {
  font-family: "Bungee";
}

.toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down {
  content: "\f103";
  color: #cf3429;
}

.fa-angle-double-down:hover {
  cursor: pointer;
  filter: drop-shadow(3px 4px 6px black);
}