textarea {
  width: 100%;
  border: 0;
  border-bottom: 4px solid rgb(77, 74, 74);
}

footer {
 display: flex;
 justify-content: space-between;
 margin-top: 10px;
}

input {
  font-family: "Bungee";
  color: #FFFFFF;
  background-color: #4056A1;
}

.fontred {
  color: red;
}