.too-long,
.no-text {
  border: solid red;
  color: red;
  padding: 12px 0;
  display: none;
}

.fa-exclamation-triangle {
  color: red;
}

.new-tweet {
  display: none;
}

.new-tweet p {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  border: 0;
  border-bottom: 4px solid rgb(77, 74, 74);
  font-size: smaller;
}

.text-footer {
 display: flex;
 justify-content: space-between;
 margin-top: 10px;
 font-family: "Bungee";
}

input {
  color: #FFFFFF;
  background-color: #4056A1;
}

.fontred {
  color: red;
}